<footer id="footer">
    <div id="company-info"> Copyright © 2022 Codeial | All Rights Reserved</div>
    <div id="other-links">
        <div><a href="/">|| Home |</a></div>
        <div><a href="/users/profile">| Profile ||</a></div>
    </div>
</footer>