header {
  background-color: maroon;
  height: 80px;
  display: flex;
  font-family: sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between; }
  header a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out; }
    header a:hover {
      color: lightcoral; }
  header #logo {
    margin-left: 15px; }
  header #profile-and-sign {
    display: flex;
    align-items: center;
    margin-right: 15px; }
    header #profile-and-sign #profile-name {
      margin-right: 15px; }
    header #profile-and-sign #sign-in {
      margin-right: 15px; }
